/* Navbar Styles */
.nav {
	padding: 1rem 0;
}
.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.nav_links {
	display: flex;
	gap: 1rem;
}
.nav_item {
	display: flex;
	align-items: center;
	gap: 0.28rem;
}

.arrow {
	transition: transform 300ms;
}

.up_arrow {
	transform: rotateX(180deg);
}

.down_arrow {
	transform: rotateX(0deg);
}
